VITE_REGISTER_URL=http://localhost:3000/api/auth/register
VITE_USER_URL=http://localhost:3000/api/users
VITE_LOGIN_URL=http://localhost:3000/api/auth/login
VITE_ME_URL=http://localhost:3000/api/auth/me
VITE_LOGOUT_URL=http://localhost:3000/api/auth/logout
VITE_CHECK_SESSION_URL=http://localhost:3000/api/auth/check-session
VITE_HUNT_URL=http://localhost:3000/api/treasure-hunts
VITE_WALLET_URL=http://localhost:3000/api/wallet
