DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=lootopia
JWT_SECRET=
JWT_EXPIRESIN=1d
EMAIL_USER=berrichif0717@gmail.com
EMAIL_PASS=rews bxkd uzhr hnwo
CLOUDINARY_CLOUD_NAME=dfqxbwfnc
CLOUDINARY_API_KEY=726212535199352
CLOUDINARY_API_SECRET=WUBxPVx2V_RwMqyeFZrZqoRxPlcWUBxPVx2V_RwMqyeFZrZqoRxPlc
STRIPE_SECRET_KEY=sk_test_51N6dT0IOaJq0XAsPjOpYNp7UQF0C4UNXsGrfquhpn3Fxa9FDdeLwRiZL5IBKx3W6XGfZwLAJBybpf80xsVQr5NUr00aNxf1b8z
STRIPE_WEBHOOK_SECRET= 
FRONTEND_WEB_URL=http://localhost:5173



